/.project
/libs/*.jar
/.idea/
/exec/launch4j.log
/exec/rechnung.exe
/target/
/config.cfg
/libs/java/
/libs/*.cfg
/libs/*.exe
/libs/*.zip.*
/plugings/
/logs/
/rechnung_manager_config.cfg
/data_manager_config.cfg
/libs/lib/
/libs/logs/
/libs/test/
/rechnung_runner/.vs/rechnung_runner/v16/
