/.project
/libs/*.jar
/.idea/
/exec/launch4j.log
/exec/rechnung.exe
/target/
/config.cfg
/libs/java/
/libs/*.cfg
/libs/*.exe
/libs/*.zip.*
/container_manager_app/exec/config.xml
/container_manager_app/exec/config_home.xml
/container_manager_app/exec/install-note.txt
/plugings/rechnung_manager_module-0.0.1.jar
/plugings/rechnung_manager_module-0.0.1-jar-with-dependencies.jar
