
.table-view{
    -fx-background-color: transparent;
    -fx-boder-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 0 0 0 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: red;
    -fx-size: 0;
    -fx-border-width: 0;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: black;
    -fx-text-fill:white;
    -fx-font-size:9px;
    -fx-font-weight:bold;
    -fx-alignment:center;
    -fx-padding: 0 0 0 0;

}
.table-view .column-header .label{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size:9px;
    -fx-font-weight:bold;
    -fx-alignment:center;
    -fx-padding: 0 0 0 0;
}

.table-view .cell {

    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size:7px;
    -fx-alignment:center;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-border-insets: 0;
    -fx-padding: 0 0 0 0;
}


.table-row-cell .table-cell {
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: gray;
    -fx-padding: 0 0 0 0;
    -fx-border-insets: -1;
}

.table-row-cell{
    -fx-border-width: 0;
    -fx-border-color: red;
    -fx-padding: 0 0 0 0;
}

.table-row-cell:odd{
    -fx-background-color: rgb(255, 255, 255);
}
.table-row-cell:even{
    -fx-background-color: rgb(255, 255, 255);
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: transparent;

}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}


.rechnung-banner{
    -fx-background-image: url("../images/logo.png");
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 100px;
    -fx-background-position: left top;
	
}

.item-list-pane{
    -fx-border-color:black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: white;
}

.item-list-pane-header{
    -fx-background-color: black;
    -fx-text-fill:white;
    -fx-padding: 0;
}

.item-list-pane-header Label{
    -fx-text-fill:white;
    -fx-font-size: 9px;
    -fx-font-weight:bold;
    -fx-padding: 5px;
}

.item-list-pane-row{
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color:black;
    -fx-border-style: solid;
}

.item-list-pane-row Label{
    -fx-border-color:black;
    -fx-border-width: 0 1px 0 0;
    -fx-border-style: solid;
    -fx-font-size: 7px;
    -fx-padding: 5px;
}




