
.table-view{
    -fx-background-color: transparent;
    -fx-boder-color: rgb(200, 200, 200);
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgb(250, 250, 250);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-column{
    -fx-alignment:center;
    -fx-font-size:10px;
    -fx-font-weight:bold;
    -fx-background-color: rgb(250, 250, 250);
}

.table-view .table-cell{
    -fx-border-color: transparent;
}

.table-view .table-cell:odd{
    -fx-border-color: transparent;
}

.table-view .table-cell:even{
    -fx-border-color: transparent;
}

.table-view .table-cell{
    -fx-font-size:8px;
}

.table-row-cell:odd{
    -fx-background-color: rgb(255, 255, 255);
}
.table-row-cell:even{
    -fx-background-color: rgb(255, 255, 255);
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: transparent;

}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

