.button {
    -fx-text-fill: blue;
}

.rechnung-name-label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.rechnung-list-top-label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.rechnung-list-item{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.summe-value{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-align: right;
}

.summe-label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#showItemsTableView.table-view .table-column{
    -fx-alignment:center;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

#showItemsTableView.table-view .table-cell{
    -fx-font-size:12px;
}


#printItemsTableView.table-view .table-column{
    -fx-alignment:center;
    -fx-font-size:10px;
    -fx-font-weight:bold;
}

#printItemsTableView.table-view .table-cell{
    -fx-font-size:8px;
}

.save-button {
	         
    -fx-background-image: url('../images/save.png');
    
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-font-size: 14px;
    
}

.reload-button {
	         
    -fx-background-image: url('../images/reload.png');
    
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-font-size: 14px;
    
}

.bill-button {
	         
    -fx-background-image: url('../images/bill.png');
    
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-font-size: 14px;
    
}

.home-button {
	         
    -fx-background-image: url('../images/home.png');
    
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;   
    -fx-font-size: 14px;
    
}

.report-button {
	         
    -fx-background-image: url('../images/chart.png');
    
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-font-size: 14px;
    
}

.admin-button {
	         
    -fx-background-image: url('../images/admin.png');
    
    -fx-background-size: 30 26;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-font-size: 14px;
    
}

.print-button {

    -fx-background-image: url('../images/print.png');

    -fx-background-size: 30 26;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-font-size: 14px;

}

.cancel-button {

    -fx-background-image: url('../images/cancel.png');

    -fx-background-size: 30 26;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-font-size: 14px;

}

.home-pane1{
    -fx-background-image: url("../photos/auto_teil_photo_1.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% auto;
    -fx-background-position: left top;

}

.rechnung-banner{
    -fx-background-image: url("../images/logo.png");
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 140px;
    -fx-background-position: left top;
	
}

.toggle-label{
    -fx-border-color:black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: rgb(240, 240, 240);
}