.button {
    -fx-text-fill: blue;
}

.quittung-name-label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.quittung-list-top-label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.quittung-list-item{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.summe-value{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-align: right;
}

.summe-label{
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .table-column{
    -fx-alignment:center;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

.table-view .table-cell{
    -fx-font-size:12px;
}
